.container {
  // backdrop-filter: blur(10px);
  // -webkit-backdrop-filter: blur(10px);
  // box-shadow: -1px -29px 122px 20px rgba(22, 11, 28, 0.7);
  // -webkit-box-shadow: -1px -29px 122px 20px rgba(22, 11, 28, 0.7);
  // -moz-box-shadow: -1px -29px 122px 20px rgba(22, 11, 28, 0.7);

  position: fixed;
  color: var(--color-primary-text);
  // left: 87px;
  height: 85px;
  width: auto;
  padding: var(--space-5);
  display: flex;
  align-items: center;
  top: 0;
  flex-direction: row;
  justify-content: center;
  top: 0;
  background-color: black;
  left: 0;
  right: 0;
  z-index: 0;
}

.list {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  align-items: center;
  margin-bottom: 0;
  gap: 30px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.button {
  font-weight: 600;
  font-size: 12px;
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
  text-decoration-color: transparent;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  &:hover,
  &.active {
    transition: all 0.15s ease-in-out;
    color: var(--color-primary-text);
    text-decoration-color: var(--color-accent);
  }
}
