@import "../../scss/breakpoints.scss";
.container {
  width: 100%;
  padding: var(--space-5);
  @include respond-to(phone-up) {
    max-width: 1000px;
    margin-inline: auto;
  }
}

.form,
.fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.fieldset {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  @include respond-to(phone-up) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.label {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-primary-text);
}

.input,
.select {
  color: var(--color-primary-text);
  width: 100%;
  height: 60px;
  border: 0;
  padding-left: 10px;
  background-color: transparent;
  border-bottom: 1px solid var(--color-accent);
  // color: var(--color-bg);
  color: white;
  font-weight: 600;
  &:focus-visible {
    background-color: var(--color-accent);
    border-bottom: 2px solid var(--color-accent);
    outline: 2px;
  }
}

.input {
  background: var(--color-bg);
}

.select {
  color: var(--color-accent);
  &:focus-visible {
    background-color: var(--color-bg);
    border-bottom: 2px solid var(--color-accent);
    outline: 2px;
  }
}

.input::placeholder,
.option::placeholder {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.input:focus-within::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.inputContainer,
.selectContainer,
.checkboxContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-3);
  width: 100%;
  margin-bottom: var(--space-5);
}

.checkboxContainer {
  gap: var(--space-5);
}

.checkboxInput {
  height: 20px;
  width: 20px;
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

.formGroupTwo {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-4);
  width: 100%;
  width: 100%;
}

.textarea {
  height: 300px;
  padding-top: var(--space-4);
}
