@import "../../scss/breakpoints.scss";
@import "../../scss/animations.scss";
.process {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  transition: opacity 0.5s ease;
  position: absolute;
  width: 100%;
  padding: var(--space-5);
  z-index: 1;
  @include respond-to(phone-up) {
    // padding: 0;
  }
  @include respond-to(tablet-up) {
    /* height: 2000px; */
    max-width: 476px;
    left: 20%;
  }
}

.active {
  opacity: 1;
  pointer-events: auto;
}

.inactive {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
  position: relative;
  height: 300vh;
  @include respond-to(tablet-up) {
    max-width: 1440px;
    margin-inline: auto;
  }
  @include respond-to(desktop-up) {
    padding-top: 20vh;
  }
}

.stepWrapper {
  // animation: float 35s infinite ease-in-out forwards;
  position: fixed;
  top: 220px;
  width: 50vw;
  height: auto;
  z-index: 0;
  @include respond-to(tablet-up) {
    right: 0vw;
    top: 0px;
  }

  svg {
    width: 100%;
  }
}

.accent {
  color: var(--color-accent);
}

.stickyContainer {
  position: sticky;
  top: 100px;
  height: 1000px;
  width: 100vw;
}
