---
import Bg from "../../images/smoke-hero.jpg";
import { Image } from "astro:assets";
---

<section class="section">
  <div class="grid">
    <h1 class="hero">
      FRONT END DEVELOPER
      <br /><div class="hero-line-2">+</div> DIGITAL
      <br />DESIGNER
    </h1>
  </div>
  <Image
    src={Bg}
    class="bgImage"
    alt="descriptive text"
    width={2000}
    height={1333}
    quality="max"
    style={{ opacity: 0.4 }}
  />
</section>

<style lang="scss">
  @import "../../scss/animations.scss";
  @import "../../scss/breakpoints.scss";

  .section {
    grid-column: 2 / span 5;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  .bgImage {
    animation: smoke 45s ease-in-out infinite forwards;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    pointer-events: none;
    object-fit: fill;
    display: flex;
    min-width: 2000px;
    width: 100%;
    z-index: 1;
    mix-blend-mode: exclusion;
  }
  .hero {
    font-weight: var(--font-weight-bold);
    line-height: 1;
    font-size: 12vw;
    color: var(--color-accent);
    width: 100%;
    max-width: 1012px;
  }

  .hero-line-2 {
    display: inline-block;
    color: var(--color-title-stop);
    animation: fadeOut 80s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite
      forwards;
  }

  @media only screen and (min-width: $breakpoint-xl) {
    .hero {
      font-size: var(--font-size-xxl);
    }
  }
  @media only screen and (min-width: $breakpoint-xxl) {
    .section {
      grid-column: 3 / span 5;
    }
    .hero {
      font-size: var(--font-size-xxl);
    }
  }
</style>
