---
import Employers from "./employers";
import type { Employer } from "./employers";

interface Props {
  employerList: Employer[];
  title: string;
}

const { title, employerList } = Astro.props;
---

<div class="container">
  <h2 class="title">{title}</h2>
  <Employers client:load employerList={employerList} />
</div>

<style>
  .container {
    margin-bottom: var(--space-6);
  }

  h2 {
    font-size: var(--font-5);
    font-weight: var(--font-weight-bold);
    color: var(--color-accent);
  }
</style>
