.ul {
  display: flex;
  gap: var(--space-4);
  margin: 0;
  flex-wrap: wrap;
  padding: 0;
  margin-top: var(--space-4);
}

.li {
  list-style: none;
}
.button {
  border: none;
  border-radius: var(--space-2);
  color: var(--color-button-text);
  font-size: var(--font-8);
  font-weight: var(--font-weight-bold);
  padding: var(--space-3) var(--space-4);
  transition: var(--transition-button);
  transform: translateY(0) translateX(0);
  &:hover,
  &.active {
    background-color: var(--color-accent);
    transition: var(--transition-button);
    transform: translateY(-3px) translateX(2px);
    box-shadow: -2px 2px 0px var(--color-accent-dark);
  }
  &.default {
    background-color: var(--color-button);
    box-shadow: none;
  }
}

.employerName {
  color: var(--color-title);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-8);
}
