---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/hero/hero.astro";
import About from "../components/about/about.astro";
import Work from "../components/work/work.astro";
import Footer from "../components/footer/footer.astro";
---

<Layout title="Welcome to DallasGale.dev">
  <main class="main">
    <Hero />
    <About />
    <Work />
  </main>
  <Footer />
</Layout>

<style lang="scss">
  @import "../scss/breakpoints.scss";
  .main {
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-column), 1fr));
    justify-content: center;
    gap: var(--grid-gap);
    color: white;
    font-size: 20px;
    line-height: 1;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
  }

  @media (min-width: $breakpoint-md) {
    .main {
      display: grid;
    }
  }
</style>
