---
import ThemeCube from "@components/themeCube";
---

<header class="header">
  <span style="visibility: hidden">Dallas</span>
  <ThemeCube client:load />
</header>

<style lang="scss">
  @import "../../scss/breakpoints.scss";
  .header {
    position: fixed;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-top: var(--space-4);
    z-index: 2;
    background: var(--header-logo);
    background-repeat: no-repeat;
    background-size: 193px;
    background-position: top var(--space-5) center;
    height: 110px;
    width: 100%;
  }
  .logo {
    position: relative;
    left: var(--space-5);
    top: var(--space-5);
    width: 193px;
    height: 75px;
    z-index: 10;
    mix-blend-mode: lighten;
  }

  #logo-white {
    display: block;
  }

  #logo-black {
    display: none;
  }
  body[data-theme="4"] {
    #logo-white.logo {
      display: none;
    }
    #logo-black.logo {
      display: block;
    }
  }

  @media (min-width: $breakpoint-md) {
    .header {
      background-position: top var(--space-5) left var(--space-5);
    }
  }
</style>
