.moodContainer {
  position: fixed;
  bottom: 40px;
  height: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: auto;
  right: 0;
  padding-right: 60px;
  max-width: 1600px;
  width: 100%;
  margin-inline: auto;
}
.moodToggler {
  background: none;
  width: 77px;
  height: 26px;
  border: 1px solid var(--color-accent);
  border-radius: 48px;
  position: relative;
  box-sizing: border-box;
  transition: all 0.15s ease-in-out;
  cursor: pointer;

  &:hover {
    transition: all 0.15s ease-in-out;
    border-color: var(--color-primary);
    .toggle {
      background-color: var(--color-primary);
    }
  }

  span {
    font-weight: 400;
    position: absolute;
    color: var(--color-primary-text);
    font-size: 12px;
    right: 9px;
    top: 4px;
    &.on {
      right: auto;
      left: 8px;
    }
  }
}

.toggle {
  width: 20px;
  height: 20px;
  border-radius: 48px;
  background-color: var(--color-accent);
  position: absolute;
  left: 0;
  top: 7px;
  border: 1px solid var(--color-bg);
  box-sizing: border-box;
  transform: translateX(2px) translateY(-5px);
  &.on {
    transform: translateX(75px) translateY(-5px);
    transition: all 0.15s ease-in-out;
  }
  &.off {
    transform: translateX(2px) translateY(-5px);
    transition: all 0.15s ease-in-out;
  }
}

.moodMenu {
  left: 90px;
}
