---

---

<aside>
  <nav>
    <ul>
      <li><a href="#about">About</a></li>
      <li><a href="#work">Work</a></li>
      <li><a href="https://www.linkedin.com/in/dallas-gale/">LinkedIn</a></li>
      <li><a href="https://github.com/dallasgale">GitHub</a></li>
    </ul>
    <p>Based in the Yarra Valley, Australia</p>
  </nav>
</aside>

<style lang="scss">
  @import "../../scss/breakpoints.scss";
  aside {
    position: fixed;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    width: var(--space-7);
    flex-direction: column;
    z-index: 2;
    margin-left: var(--space-7);
  }
  nav {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: var(--space-8);
    padding-bottom: var(--space-6);
  }
  a,
  p {
    line-height: var(--font-7);
    color: var(--color-nav);
    text-decoration: none;
    font-size: var(--font-2);
    font-weight: var(--font-weight-semibold);
    text-transform: uppercase;
  }

  a {
    font-size: var(--font-3);
  }
  ul {
    padding: 0;
    margin: 0;
    position: relative;
  }
  li {
    list-style: none;
    margin-bottom: var(--space-3);
  }

  @media only screen and (min-width: $breakpoint-md) {
    nav {
      display: flex;
    }
    aside {
      display: flex;
    }
  }
</style>
