@import "../../scss/breakpoints.scss";

.container {
  z-index: 2;
  // margin-bottom: var(--space-9);
  padding: var(--space-5);
  margin-inline: auto;
  position: sticky;
  top: 20%;
  height: 100vh;
  display: flex;
  width: 100%;
  align-items: center;

  @include respond-to(tablet-up) {
    max-width: 1440px;
  }
}

.word {
  display: inline-block;
}

.highlight {
  font-weight: 400;
  color: var(--color-accent);
}

.signature {
  width: 120px;
  position: absolute;
  right: var(--space-5);

  @include respond-to(tablet-up) {
    width: 180px;
    left: var(--space-7);
    right: auto;
  }
}
