---
import { Image } from "astro:assets";
import Bg from "../../images/smoke-footer.jpg";
---

<footer>
  <div class="mobile-message">
    <p class="primary-text">
      Thanks for visiting my site!<br />The desktop version is a bit more fun,
      so check it out on a larger screen.
    </p>
  </div>
  <h2>Say Hi!</h2>

  <div class="link-group">
    <a href="mailto:dallasgale.digital@gmail.com" class="link"
      >dallasgale.digital@gmail.com</a
    >

    <a href="https://www.linkedin.com/in/dallas-gale/" class="link"
      >linkedin.com/in/dallas-gale</a
    >
  </div>

  <div class="foot-note">
    <small>Designed by Me</small>
    <small>Built with Astro</small>
    <small>Deployed to Vercel.</small>
  </div>
</footer>

<style lang="scss">
  @import "../../scss/animations.scss";
  @import "../../scss/breakpoints.scss";
  footer {
    background-color: var(--color-bg);
    position: absolute;
    bottom: 80px;
    height: auto;
    width: 100%;
    text-align: center;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--space-5);
    z-index: 3;
  }

  h2 {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    color: var(--color-accent);
    z-index: 10;
  }

  .mobile-message {
    display: flex;
    padding: var(--space-5);
    position: fixed;
    top: 40vh;
  }

  .bgImage {
    opacity: 0.4;
    position: relative;
    right: 0;
    width: 100%;
    pointer-events: none;
    object-fit: cover;
    display: flex;
    align-items: flex-start;
    width: 100vw;
    height: auto;
    z-index: 1;
    top: 0;
    mix-blend-mode: plus-lighter;
  }
  .link-group {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
  }

  .foot-note {
    display: none;
    flex-direction: row;
    align-items: center;
    gap: var(--space-4);
    position: absolute;
    bottom: var(--space-6);
  }
  small {
    color: var(--color-paragraph);
    font-weight: var(--font-weight-semibold);
  }

  @media (min-width: $breakpoint-md) {
    .foot-note {
      display: flex;
    }

    .mobile-message {
      display: none;
    }

    h2 {
      font-size: var(--font-size-xl);
    }

    footer {
      height: 700px;
      position: relative;
      bottom: auto;
      z-index: 0;
    }
  }
</style>
