@keyframes move {
  0%,
  100% {
    transform: translateX(var(--translateX))
      rotate3d(var(--rotateX), var(--rotateY), var(--rotateZ), var(--rotateDeg))
      scale(1);
  }
  50% {
    transform: translateX(var(--translateX))
      rotate3d(var(--rotateX-mid), var(--rotateY), var(--rotateZ), 372deg)
      scale(var(--scale-mid));
  }
}

.button {
  width: 100%;
  height: 100%;
}

.image {
  transition: var(--transition-card);
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.card {
  --shadow: -18px 22px 124px 0px rgba(0, 0, 0, 0.67);
  box-shadow: var(--shadow);
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  box-sizing: border-box;
  height: 30vw;
  width: 30vw;
  outline: none;
  border: none;
  overflow: hidden;
  border-radius: calc(var(--space-4) + var(--space-2));
  position: relative;
  transition: var(--transition-card);
}

.card::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.card:hover,
.card.isActive {
  filter: drop-shadow(-10px 10px 20px rgba(0, 0, 0, 0.25));
  border-color: var(--color-accent);
  border-width: 3px;
  transform-origin: center center;
}

.card:hover .image,
.card.isActive .image {
  transform: scale(1.01);
}

.card:hover::before,
.card.isActive::before {
  opacity: 0;
}

/* Card-specific styles */
.card:nth-child(odd) {
  margin-top: -80px;
  z-index: 0;
}

.card:nth-child(even) {
  margin-top: 280px;
  z-index: 1;
}

.card:nth-child(1),
.card:nth-child(5) {
  --translateX: 50px;
  --rotateX: -40;
  --rotateY: -21;
  --rotateZ: -13;
  --rotateDeg: 382deg;
  --rotateX-mid: -30;
  --scale-mid: 0.9;
}

.card:nth-child(2),
.card:nth-child(6) {
  --translateX: -50px;
  --rotateX: -40;
  --rotateY: 1;
  --rotateZ: 3;
  --rotateDeg: 382deg;
  --rotateX-mid: -50;
  --scale-mid: 0.91;
}

.card:nth-child(3) {
  --translateX: -50px;
  --rotateX: -40;
  --rotateY: 1;
  --rotateZ: 3;
  --rotateDeg: 362deg;
  --rotateX-mid: -50;
  --scale-mid: 1.05;
}

.card:nth-child(4) {
  --translateX: -50px;
  --rotateX: -40;
  --rotateY: 1;
  --rotateZ: 3;
  --rotateDeg: 385deg;
  --rotateX-mid: -30;
  --scale-mid: 0.85;
}

.card {
  animation: move 20s ease-in-out infinite forwards;
}

.card:hover {
  transform: translateX(var(--translateX)) rotate3d(-30, 0, 0, 352deg)
    scale(1.1);
}

@media only screen and (min-width: 1800px) {
  .card {
    height: 587px;
    width: 587px;
  }
  .image {
    max-width: 600px;
    width: auto;
    height: auto;
  }
}
