---
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";

import "antd/dist/reset.css";

import Header from "../components/header/header.astro";
import Sidebar from "../components/sidebar/sidebar.astro";
import Footer from "../components/footer/footer.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Dallas Gale",
    "jobTitle": "Frontend Developer & Digital Designer",
    "url": "https://www.dallasgale.dev",
    "sameAs": [
      "https://www.linkedin.com/in/dallas-gale",
      "https://github.com/dallasgale"
    ],
    "worksFor": {
      "@type": "Organization",
      "name": "Freelance"
    },
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Yarra Valley",
      "addressRegion": "Victoria",
      "addressCountry": "Australia"
    }
  }
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>
      {title}
    </title>
    <meta
      name="description"
      content="Experienced frontend developer and digital designer based in Yarra Valley, Victoria. Over a decade of expertise in web development for agencies and startups across Australia, LA, and NYC. View my portfolio and contact me for custom web solutions."
    />
    <meta
      name="keywords"
      content="HTML, CSS, JavaScript, React.js, Frontend development, react developer, web design, web developer, web development, responsive web design, custom website development, Yarra Valley web design, Melbourne web developer,  Victorian web design, Australian web design, freelance web developer, freelance web designer,independent web consultant, small business web design, small business web developer, startup web solutions, local business websites, custom React.js development for small businesses, custom web development for small businesses, custom frontend development for small businesses, custom web design for small businesses, hire freelance web developer Yarra Valley, hire freelance web designer Yarra Valley, hire freelance web developer Melbourne, hire freelance web designer Melbourne, hire freelance web developer Australia, hire freelance web designer Australia, portfolio sites for creatives, brochure sites for small business, fast turnaround web design, bespoke web design, hand-crafted web design, fast turnaround web development, affordable custom websites, progressive web app developer, JAMstack websites"
    />
    <meta name="author" content="Dallas Gale" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />
    <!-- <link rel="canonical" href="https://www.dallasgale.dev/services" /> -->
    <meta
      property="og:title"
      content="Dallas Gale - Web Developer & Digital Designer"
    />
    <meta
      property="og:description"
      content="Experienced frontend web developer and digital designer based in Yarra Valley. View my portfolio and contact me for custom web solutions."
    />
    <meta
      property="og:image"
      content="https://www.dallasgale.dev/images/og-image.jpg"
    />
    <meta
      property="og:logo"
      content="https://www.dallasgale.dev/images/og-logo.jpg"
    />
    <meta property="og:url" content="https://www.dallasgale.dev" />
    <meta property="og:type" content="website" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <Header />
    <Sidebar />
    <slot />
    <Footer />
  </body>
</html>

<style is:global lang="scss">
  @import "../scss/breakpoints.scss";
  :root {
    --font-weight-bold: 700;
    --font-weight-semibold: 600;
    --font-weight-regular: 400;
    --font-weight-light: 300;
    --font-size-md: 60px;
    --font-size-lg: 80px;
    --font-size-xl: 100px;
    --font-size-xxl: 180px;

    --space-1: 2px;
    --space-2: 4px;
    --space-3: 8px;
    --space-4: 16px;
    --space-5: 32px;
    --space-6: 64px;
    --space-7: 98px;
    --space-8: 128px;
    --space-9: 200px;
    --space-10: 420px;
    --space-11: 600px;

    --font-1: 8px;
    --font-2: 10px;
    --font-3: 12px;
    --font-4: 14px;
    --font-5: 16px;
    --font-6: 18px;
    --font-7: 20px;
    --font-8: 22px;
    --font-9: 24px;
    --font-10: 26px;
    --font-11: 28px;
    --font-12: 30px;
    --font-13: 32px;
    --font-14: 34px;
    --font-15: 36px;
    --font-16: 38px;
    --font-17: 40px;
    --font-18: 42px;
    --font-19: 44px;

    --grid-gap: 20px;
    --grid-column: 200px;
    --grid-column-negative: -200px;

    --header-logo: url(../images/dallas-white.png);

    --color-nav: #fff;
    --color-accent: #a620aa;
    --color-accent-dark: #436e27;
    --color-active: #a620aa;
    --color-bg: #1d172b;
    --color-title: #ffffff;
    --color-title-stop: #ffffff;
    --color-paragraph: #bababa;
    --color-paragraph-strong: #ffffff;
    --color-modal-title: #ffffff;
    --color-modal-link: var(--color-accent);
    --color-modal-paragraph: #bababa;
    --color-modal-paragraph-strong: #ffffff;
    --color-button-active-bg: #000000;
    --color-button: #ffffff;
    --color-button-text: #000000;
    --color-button-text-active: #aefc79;
    --color-link: #ffffff;
    --color-toggle-on: #fff;
    --color-togglef: #000000;
    --color-modal-bg: #000000;
    --color-modal-content: #fff;
    --color-modal-border: #494949;

    --color-cube-instruction: #000;

    --transition-card: all 0.65s ease;
    --transition-button: all 0.25s ease;

    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );

    --breakpoint-sm: 414px;
    --breakpoint-md: 768px;
  }

  body {
    margin: 0;
    padding: 0;
    background: var(--color-bg);
  }
  html {
    font-family: "Poppins", system-ui, sans-serif !important;
  }

  /* main {
    background: var(--color-bg);
  } */
  h1,
  h2,
  h3,
  p {
    margin: 0;
  }

  button {
    cursor: pointer;
  }

  .primary-text {
    font-size: var(--font-7);
    color: var(--color-paragraph);
  }
  .link {
    color: var(--color-link);
    font-weight: var(--font-weight-semibold);
  }

  .modal-text,
  .modal-text-strong {
    color: var(--color-modal-paragraph);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-3);
    font-family: "Poppins", system-ui, sans-serif !important;
  }

  @media only screen and (min-width: $breakpoint-xxl) {
    .modal-text,
    .modal-text-strong {
      font-size: var(--font-5);
    }
  }
  .modal-text-strong {
    color: var(--color-modal-paragraph-strong);
    font-weight: var(--font-weight-bold);
  }

  .modal-text-row {
    display: flex;
    flex-direction: row;
    gap: var(--space-3);
    margin-bottom: var(--space-3);
  }
  [data-theme="1"] {
    --color-accent: #a620aa;
    --color-title-stop: #ffffff;
    --color-bg: #1d172b;
    --color-cube-instruction: #fff;
    --color-button-text-active: #fff;

    --color-modal-link: #a620aa;
  }
  [data-theme="3"] {
    --color-accent: #aefc79;
    --color-toggle-on: #aefc79;
    --color-bg: #000;
  }
  [data-theme="2"] {
    --color-accent: #e7a42f;
    --color-accent-dark: #7c5510;
    --color-title-stop: #ffffff;
    --color-bg: #140f08;
    --color-toggle-on: #e7a42f;

    --color-button-text-active: #e7a42f;
    --color-modal-link: #e7a42f;
  }

  [data-theme="4"] {
    --color-accent: #e43737;
    --color-title: #000;
    --color-title-stop: #000;
    --color-bg: #fff;
    --color-nav: #000;
    --color-paragraph: #000;
    --color-paragraph-strong: #000;
    --color-button: #e43737;
    --color-button-text: #fff;
    --color-link: #e43737;
    --color-toggle-on: #e43737;
    --color-cube-instruction: #fff;
    --color-button-text-active: #e43737;
    --color-modal-link: #e43737;

    --header-logo: url(../images/dallas-black.png);
  }

  [data-theme="5"] {
    --color-accent: #5c9dbd;
    --color-title-stop: #ffffff;
    --color-bg: #1e4287;
    --color-cube-instruction: #fff;
    --color-modal-link: #5c9dbd;
    --color-button-text-active: #fff;
  }

  [data-theme="6"] {
    --color-accent: #000000;
    --color-accent-dark: #444444;
    --color-button-text-active: #000;
    --color-button-text: #000;
    --color-nav: #000;
    --color-title: #000;
    --color-title-stop: #ffffff;
    --color-bg: #83dfbc;
    --color-paragraph: #000;
    --color-paragraph-strong: #000;
    --color-toggle-on: #000;
    --color-cube-instruction: #fff;
    --color-modal-link: #83dfbc;

    --header-logo: url(../images/dallas-black.png);
  }
</style>
