---
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";

import "antd/dist/reset.css";

import Header from "../components/header/header.astro";
import Sidebar from "../components/sidebar/sidebar.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <Sidebar />
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --font-weight-bold: 700;
    --font-weight-semibold: 600;
    --font-weight-regular: 400;
    --font-weight-light: 300;
    --font-size-lg: 80px;
    --font-size-xl: 100px;
    --font-size-xxl: 180px;

    --space-1: 2px;
    --space-2: 4px;
    --space-3: 8px;
    --space-4: 16px;
    --space-5: 32px;
    --space-6: 64px;
    --space-7: 98px;
    --space-8: 128px;
    --space-9: 200px;
    --space-10: 420px;
    --space-11: 600px;

    --font-1: 8px;
    --font-2: 10px;
    --font-3: 12px;
    --font-4: 14px;
    --font-5: 16px;
    --font-6: 18px;
    --font-7: 20px;
    --font-8: 22px;
    --font-9: 24px;
    --font-10: 26px;
    --font-11: 28px;
    --font-12: 30px;
    --font-13: 32px;
    --font-14: 34px;
    --font-15: 36px;
    --font-16: 38px;
    --font-17: 40px;
    --font-18: 42px;
    --font-19: 44px;

    --grid-gap: 20px;
    --grid-column: 200px;
    --grid-column-negative: -200px;

    --color-nav: #fff;
    --color-accent: #aefc79;
    --color-accent-dark: #436e27;
    --color-active: #aefc79;
    --color-bg: #000;
    --color-title: #ffffff;
    --color-title-stop: #545454;
    --color-paragraph: #bababa;
    --color-paragraph-strong: #ffffff;
    --color-button: #ffffff;
    --color-button-text: #000000;
    --color-link: #ffffff;

    --transition-card: all 0.25s ease;

    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  body {
    margin: 0;
    padding: 0;
  }
  html {
    font-family: "Poppins", system-ui, sans-serif;
    background: var(--color-bg);
  }
  h1,
  h2,
  h3,
  p {
    margin: 0;
  }

  button {
    cursor: pointer;
  }

  .section-title {
    width: 100%;
    max-width: 1488px;
    margin: auto;
  }
  .link {
    color: var(--color-link);
    font-weight: var(--font-weight-semibold);
  }
</style>
